@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
  background: linear-gradient(to bottom right, #00416A, #E4E5E6);
  height: 100vh;
  color: #eaeae1;
}


/* -- TEXT -- */
#quoteBox h4 {
  font-style: italic;
  text-align: right;
  margin-right: 10px;
}
.pacifico {
  font-family: Pacifico !important;
  letter-spacing: 2px;
}

/* -- OUTER BOX -- */
.outerBox {
  margin-top: 20px;
}

/* -- QUOTEBOX -- */
#quoteBox {
  max-width: 900px;
  min-height: 200px;
  margin: 40px auto 30px;
  padding: 10px 30px;
  background-color: rgba(0,0,0, .2);
  box-shadow: 5px 6px 16px rgba(0,0,0, 0.4);
  border-radius: 10px;
}

/* -- BUTTONS -- */
.btn {
  margin: 0px 10px;
  outline: 0;
  border: none;
}

.btn:focus, .btn:active {
  outline: 0;
}

.fa-twitter {
  margin-right: 5px;
}
